---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description=""
	pubDate={new Date('May 16 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		We are a small indie game developer based in Canada
	</p>
</Layout>
